.dragContainer {
    margin-top   : 50px;
    border       : 3px solid #3C9978;
    border-radius: 15px;
    height       : 80px;
    width        : 30%;
    margin       : 0 auto;
    margin-bottom: 50px;
}

.dragActive {
    background-color: #3C9978;
    height          : 80px;
    width           : 30%;
    margin          : auto;
    margin-bottom   : 48px;
}

.dragContainer:hover {
    background-color: #3C9978;
}

.headerDrag {
    font-weight: 500;
    font-size  : 20px;
    line-height: 24px;
    text-align : center;
    color      : black;
    font-style : italic;
    height     : 80px;
    outline    : none;
    padding-top: 20px;
    cursor     : pointer;
}

.headerDrag:hover {
    color: white;
}

.fileInformation {
    list-style: none;
    margin-top: 8px;
    position  : relative;
    left      : 90px;
    color     : black;
}

.discardButtonActive {
    font-style      : italic;
    position        : relative;
    margin-right    : 5px;
    background-color: #3C9978;
    font-weight     : 400;
    font-size       : 15px;
    line-height     : 18px;
    cursor          : pointer;
    color           : white;
    position        : relative;
    outline         : none;
    border-width    : 1px;
    border-style    : solid;
    border-radius   : 5px;
    padding         : 8px;
    left            : 720px;
    top             : -30px;
}

.discardButton {
    font-style      : italic;
    position        : relative;
    background-color: rgb(182, 181, 181);
    font-weight     : 400;
    font-size       : 15px;
    line-height     : 18px;
    cursor          : pointer;
    border-radius   : 5px;
    color           : grey;
    outline         : none;
    padding         : 8px;
    border          : none;
    left            : 720px;
    top             : -30px;
}

.activeInfo {
    color: white;
}

.buttonNotification {
    background-color: #3C9978 !important;
}